.git/
.gitignore
.vs/
.vscode/
.idea/
**/bin/
**/obj/
**/out/
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
.metro-cache/
*.tsbuildinfo
android/.gradle/
android/build/
ios/build/
dist/
build/
.DS_Store
Thumbs.db
