JWT_SECRET_KEY=

# Password for the MSSQL server.
DB_PASSWORD=

# The url of the website when hosted in production.
APP_URL=http://localhost
API_BASE_URL=http://databaseapi:5000

BACK_OFFICE_PORT=8000
DATABASE_API_PORT=8001
WEB_APP_PORT=8002
